html, body{
    font-size: 100%;
    font-family: "Catamaran";
}

::selection {
  background: pink; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: pink; /* Gecko Browsers */
}

.loading-logo {
	display: none;
}

#includedContent {
    font-size: 100%;
    cursor: pointer;
    transition: transform .8s;
}

#includedContent:hover {
	transform: scale(1.5);
}

.close-section {
	color: white;
}

.close-section:hover {
	color: #e483f5;
}

main {
    max-height: 100vh;
    height: initial;
}
.loading-logo {
	position: absolute;
    z-index: 5000;
}
.after-loading {
	display: none;
}

.section:not(.is-expanded) {
	cursor: pointer;
}

.section .show-content {
	display: none;
	font-size: 0.7em;
    margin-left: 10vw;
    margin-right: 10vw;
}

.is-expanded .demo-box {
	display: contents;
	overflow: auto;
}

.section.is-expanded .show-content {
	display: grid !important;
}

.section.is-expanded .demo-box h2 {
    padding-top: 10vh;
}

.demo-box h2 {
	font-size: inherit;
    margin: 0;
    font-weight: 100;
    text-align: center;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: transform .2s;
}

.section:not(.is-expanded) .demo-box:hover h2 {
	color: #e483f5;
	transform: scale(1.5);
}

.demo-box::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.spotify-module {
	margin: auto;
    /*position: absolute;*/
    left: 0;
    right: 0;
    max-width: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item span, .grid-item h3 {
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: transparent;
    transition: color 0.5s ease;
}

.grid-item {
  float: left;
  width: 33%;
  position: relative;
  max-width: 320px;
  padding-right: 5px;
  padding-left: 5px;
}

.grid-item--width2 {
	max-width: 640px;
}

.grid-item--width3 {
	width: 960px;
}

.grid-item img {
	width: 100%;
	border-radius: 3px;
	transition: opacity 0.5s ease;
}

.grid-item h3 {
	top: 6px;
}

.grid-item span {
    bottom: 6px;
}



.grid-item:hover span, .grid-item:hover h3 {
	color: white;
}

.grid-item:hover img {
	opacity: 0.3;
}

#spotify-module {
	text-align: center;
}

.website-description a {
	color: #982a98;
    text-decoration: none;
}

.website-description {
	text-align: justify;
    /*color: #f4c4f5;*/
    max-width: 530px;
    margin: auto;
}


/*mail form*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#sendMail {
	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	background-color: #4c1a4c;
	width: 150px;
	margin: auto;
	display: block;
	text-align: center;
	transform: background-color ease 0.5s;
}

#sendMail i {
	transform: color ease 0.5ss;
	color: white;
}

#sendMail:hover {
	background-color: white;
}

#sendMail:hover i {
	color: #4c1a4c;
}

/*#sendMail {
	font-family: "FontAwesome";
	font-weight: 900;
	content: "\f007";
}*/

input[type=submit]:hover {
  /*background-color: #45a049;*/
}

.container-mail {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

* {
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
	outline: none !important;
}

.slick-slider {
	width: 500px;
    margin: auto;
}

.item-inner{
	text-align: center;
}

.slick-slider img {
	max-width:	320px;
	margin: auto;
	background: white;
}

.fade-item {
	min-width: 320px;
	min-height: auto;
	background: white;
	padding:30px;
}

#wordCloud {
	max-width: 530px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 30px;
}

h3 {
	text-align: center;
}
.skills {
	float: left;
	width: 25%;
	padding: 1px;
  	box-sizing: border-box;
}

#soundcloud-module {
	min-width: 10px;
	min-height: 10px;
	max-width: 530px;
    margin: auto;
}

.slick-slider {
	min-width: calc(320px - 20vw);
}

.slick-track {
	min-width: 4000px;
}

.fade-item {
	background: transparent;
}

.slick-slider img {
	background-color: #f6c8ff21
}

/*mail form end */
@media screen and (max-width: 600px) {
	.grid-item {
		width: 100%;
	}

	.slick-slider {
	    width: 94vw;
	    margin: 0px;
	    min-width: 310px;
	}

	.slick-slider img{
    	width: 150px !important;
    	margin: auto;
	}
	.skills {
		width: 50%;
		text-align: center;
	}

	.fade-item {
		padding: 0px;
	}

	.section .show-content {
		margin-left: 3vw;
		margin-right: 3vw;
	}
}






/*
@media screen and (max-width: 800px) {
	.grid-item {
		width: 48%;
	}
}

@media screen and (max-width: 600px) {
	.grid-item {
		width: 99%;
		min-width: 320px;
	}
}
*/